torch==2.6.0
torchvision==0.21.0
torchdata==0.10.1

opencv-python>=4.9.0.80
diffusers>=0.31.0
transformers==4.51.3
#transformers==4.46.3 # was needed by llamallava used by i2v hunyuan before patch
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg

# flash_attn
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl

gradio==5.33.0   
numpy>=1.23.5,<2
einops
moviepy==1.0.3
mmgp==3.4.8
peft==0.14.0
mutagen
pydantic==2.10.6
decord
onnxruntime-gpu
rembg[gpu]==2.0.65
matplotlib
timm
segment-anything
omegaconf
hydra-core
librosa
loguru
sentencepiece
av
# rembg==2.0.65
